#plan
{
    position: relative;
    margin: 50px;
    height: 650px;
    width: auto;
    background: url("../img/background.jpg");
    background-size: contain;
}

#mario
{
    position: absolute;
    top: 515px;
    left: 10px;
    height: 50px;
    width: 50px;
    z-index: 1000;
}

#logo
{
    display: block;
    margin: auto;
}
.obstacle1
{
    position : absolute;
    top : 475px;
    left: 929px;
    height: 90px;
    width: 50px;
    background-color: #ff0000;
}

.obstacle2
{
    
    position : absolute;
    top : 505px;
    left: 640px;
    height: 60px;
    width: 50px;
    background-color: #ff0000;
}

.obstacle3
{    
    position : absolute;
    top : 449px;
    left: 291px;
    height: 26px;
    width: 26px;
    background-color: blue;
}


.obstacle4
{    
    position : absolute;
    top : 449px;
    left: 435px;
    height: 26px;
    width: 26px;
    background-color: blue;
}


.obstacle5
{    
    position : absolute;
    top : 449px;
    left: 493px;
    height: 26px;
    width: 26px;
    background-color: blue;
}

.obstacle6
{    
    position : absolute;
    top : 333px;
    left: 464px;
    height: 26px;
    width: 26px;
    background-color: blue;
}